{% set switchvars = interfaces[ansible_hostname] %}

# /etc/network/interfaces template for switches ({{ansible_hostname}})
# Created by Ansible

# {{ switchvars }}

{% if switchvars["vrf"] is defined %}
{% for vrfvars in switchvars["vrf"] %}
auto {{ vrfvars }}
iface {{ vrfvars }}
  vrf-table auto
{% endfor %}
{% endif %}

auto lo
iface lo inet loopback
  address {{ switchvars.loopback }}

auto eth0
iface eth0 inet dhcp


{% if switchvars.fabric is defined %}
{% set fabricvars = switchvars.fabric %}
{% for intvars in fabricvars %}
auto {{ intvars }}
iface {{ intvars }}
{% if fabricvars[intvars]["vrf"] is defined %}
  vrf {{ fabricvars[intvars]["vrf"] }}
{% endif %}
{% if fabricvars[intvars]["address"] is defined %}
  address {{ fabricvars[intvars]["address"]}}
{% endif %}
{% endfor %}
{% endif %}

{% if switchvars.neighbors is defined %}
{% set neighborvars = switchvars.neighbors %}
{% for intvars in neighborvars %}
auto {{ intvars }}
iface {{ intvars }}
{% if neighborvars[intvars]["vrf"] is defined %}
  vrf {{ neighborvars[intvars]["vrf"] }}
{% endif %}
{% if neighborvars[intvars]["address"] is defined %}
  address {{ neighborvars[intvars]["address"] }}
{% endif %}
{% endfor %}
{% endif %}